.Button {
  padding: 16px;
  background: green;
  font: inherit;
  color: white;
  border: 1px solid blue;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Button:hover,
.Button:focus {
  background-color: lightgreen;
  color:black;
}

.Button.Red{
  background:red;
}

.Button.Red:hover,
.Button.Red:focus{
  background: salmon;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}